In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
sys.path.append(module_path)

In [2]:
import route_dynamics.route_elevation.base_df as base

In [4]:
shapefile_name = '../data/rt22_pts.shp'

In [6]:
base.wrapper(shapefile_name)

               Z                     geometry  length     grade
0     333.922952  POINT (-122.38813 47.56295)       0  0.000000
1     333.782353  POINT (-122.38810 47.56295)       6 -0.023433
2     333.642295  POINT (-122.38808 47.56295)      12 -0.023343
3     333.502775  POINT (-122.38806 47.56295)      18 -0.023253
4     333.363793  POINT (-122.38803 47.56295)      24 -0.023164
...          ...                          ...     ...       ...
9714  324.334638  POINT (-122.38813 47.56285)   58284  0.038188
9715  324.566006  POINT (-122.38813 47.56288)   58290  0.038561
9716  324.799624  POINT (-122.38813 47.56290)   58296  0.038936
9717  325.035500  POINT (-122.38813 47.56292)   58302  0.039313
9718  325.273646  POINT (-122.38813 47.56295)   58308  0.039691

[9719 rows x 4 columns]